@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background-color: #000000;
  padding: 50px 0;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}



.container {
  background-color: #000;
  margin: 0px auto;
  width: 100%;
  max-width: 250px;
  min-height: 450px;
  border-radius: 30px;
  position: absolute;
  overflow: hidden;
  animation-name: breath;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(247, 2, 2, 0.452);
  -moz-box-shadow: 0px 9px 8px 0px rgba(209, 49, 49, 0.3);
  box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3);
  }

  @keyframes breath {
    0% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3)}
    50% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.05)}
    100% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3)}
  }

.menu-trigger, .close-trigger {
  position: absolute;
  top: 32px;
  right: 20px;
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 333;
}
.menu-trigger:hover .menu-trigger-bar:before, .close-trigger:hover .menu-trigger-bar:before {
  width: 100%;
}
.menu-trigger:hover .close-trigger-bar:before, .close-trigger:hover .close-trigger-bar:before {
  width: 100%;
}

.close-trigger {
  z-index: 5;
  top: 42px;
}

.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
  transform: rotate(-45deg);
  position: relative;
}
.menu-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 9, 9, 0.534);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.menu-trigger-bar.top {
  width: 50%;
}
.menu-trigger-bar.middle:before {
  left: auto;
  right: 0;
}
.menu-trigger-bar.bottom {
  width: 50%;
  margin-left: 50%;
}

.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 9, 9, 0.534);
  position: relative;
}
.close-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.close-trigger-bar.left {
  transform: translateX(100px) translateY(-100px) rotate(-45deg);
}
.close-trigger-bar.right {
  transform: translateX(-100px) translateY(-100px) rotate(45deg);
  top: -3px;
}

.logo {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -52px;
  margin-left: -32px;
  text-align: center;
  z-index: 10;
}
.logo span {
  display: block;
  text-align: center;
  line-height: 62px;
  font-size: 72px;
  color: white;
}

.logo-title {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 32px;
  line-height: 82x;
}

.inner-container, .menu-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.inner-container {
  z-index: 20;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  display: block;
  width: 100%;
  padding: 20%;
}
.menu li {
  text-align: left;
  display: block;
  padding: 15px 0;
}
.menu a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px 0;
  position: relative;
}
.menu a:hover:before {
  opacity: 1;
  transform: translateX(0px);
}
.menu a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 4px;
  opacity: 0;
  background-color: #000;
  transform: translateX(100px);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-bg {
  position: absolute;
  display: block;
  width: 200%;
  left: -53%;
  top: -25%;
  height: 40%;
  background-color: white;
}
.menu-bg.middle {
  top: 29%;
  left: -53%;
  transform: rotate(-45deg) scaleY(0);
}
.menu-bg.top {
  left: -34%;
  top: 0;
  transform: rotate(-45deg) translateY(-152%);
}
.menu-bg.bottom {
  top: 105%;
  transform: rotate(-45deg) translateY(25%);
  left: -20%;
}

#links {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  font-size: 13px;
  font-family: tahoma;
  color: #fff;
}

#links a {
  text-decoration: none;
  font-size: 2.3em;
  color: #fff;
}

#pens {
  position: absolute;
  bottom: 15px;
  left: 20px;
}


<!-- Social icono

*, *:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.contenedor {
  position: absolute;
right: 1%;
bottom:1% ;
 padding: 10px;


}
.contenedor .btn-sc {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgb(255, 5, 5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 60px;
  animation-name: breath-2;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 0px 9px 13px 0px rgba(247, 2, 2, 0.452);
  -moz-box-shadow: 0px 9px 8px 0px rgba(209, 49, 49, 0.3);
  box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3);
  }

  @keyframes breath-2 {
    0% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3)}
    50% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.05)}
    100% {box-shadow: 0px 9px 13px 9px rgba(196, 0, 0, 0.3)}
}

.btn-sc:active, .btn-sc:focus {
  outline: none;
}
.btn-sc + .btn-sc {
  margin-left: 15px;
}

.contenedor .icon-bars {
  position: relative;
  margin: auto;
  display: block;
  width: 32px;
  height:2px;
  background: #eee;
  -moz-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}
.contenedor .icon-bars:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 30px;
  top: -14px;
  background: #eee;
}
.main-btn:active {
  transform:scale(1.17);
}
.contenedor .social-btn {
  position: relative;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-btn .main-btn {
  z-index: 15;
  float: left;
}
.social-btn .social-btn-list {
  position: absolute;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-btn .social-btn-list li {
  display: inline-block;
}
.social-btn.open .icon-bars {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contenedor .btn-sc i {
  line-height: 2.55;
  font-size: 25px;
}

.contenedor .social-btn .icon-bars {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contenedor .social-btn .social-btn-list .btn-sc {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.contenedor .social-btn .social-btn-list .btn-sc:nth-child(1) {
  -moz-transition: 0.3s 1.2s;
  -o-transition: 0.3s 1.2s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 1.2s;
  transition: 0.3s 1.2s;
}
.contenedor .social-btn .social-btn-list .btn-sc:nth-child(2) {
  -moz-transition: 0.3s 0.9s;
  -o-transition: 0.3s 0.9s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.9s;
  transition: 0.3s 0.9s;
}
.contenedor .social-btn .social-btn-list .btn-sc:nth-child(3) {
  -moz-transition: 0.3s 0.6s;
  -o-transition: 0.3s 0.6s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.6s;
  transition: 0.3s 0.6s;
}
.contenedor .social-btn .social-btn-list .btn-sc:nth-child(4) {
  -moz-transition: 0.3s 0.3s;
  -o-transition: 0.3s 0.3s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc {
  opacity: 1;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(1) {
  right: 455px;
  -moz-transition: 0.2s 0.2s;
  -o-transition: 0.2s 0.2s;
  -webkit-transition: 0.2s;
  -webkit-transition: 0.2s 0.2s;
  transition: 0.2s 0.2s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(2) {
  right: 390px;
  -moz-transition: 0.3s 0.4s;
  -o-transition: 0.3s 0.4s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.4s;
  transition: 0.3s 0.4s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(3) {
  right: 325px;
  -moz-transition: 0.3s 0.6s;
  -o-transition: 0.3s 0.6s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.6s;
  transition: 0.3s 0.6s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(4) {
  right: 260px;
  -moz-transition: 0.3s 0.8s;
  -o-transition: 0.3s 0.8s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 0.8s;
  transition: 0.3s 0.8s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(5) {
  right: 195px;
  -moz-transition: 0.3s 1.0;
  -o-transition: 0.3s 1.0s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 1.0s;
  transition: 0.3s 1.0s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(6) {
  right: 130px;
  -moz-transition: 0.3s 1.2s;
  -o-transition: 0.3s 1.2s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 1.2s;
  transition: 0.3s 1.2s;
}
.contenedor .social-btn.open .social-btn-list .btn-sc:nth-child(7) {
  right: 65px;
  -moz-transition: 0.3s 1.4s;
  -o-transition: 0.3s 1.4s;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s 1.4s;
  transition: 0.3s 1.4s;
}

.facebook {
  background: #000000;
}

.facebook {
  background: #000000;
}

.twitter {
  background: #000000;
}

.instagram {
  background: #000000;
}

.behance {
  background: #000000;
}

.whatsapp {
  background: #000000;
}
#proyectos {
  background-color: #7f07075e;
  animation-name: lookme;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes lookme {
  0% {background-color: #7f07075e;}
  50% {background-color: #00000041;}
  100% {background-color: #7f07075e;}
}
.bars {
  background: #000000;
}
ingles


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: #000;
  white-space: nowrap;
}


/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  color: #FFF;
}


.cd-popup-trigger {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: left;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;

  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-trigger {
    margin: 6em auto;
  }
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #a70901;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #640702;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #000000;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #000000;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #000000;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
.estile-a {
position:relative;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;